<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/CSS/home.css">
    <title>Home</title>
</head>

<body>

    <!-- #region header-->
    <!---->
    <!---->
    <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
        <div class="navbar-nav-scroll">
            <ul class="navbar-nav bd-navbar-nav flex-row">
                <li class="nav-item">
                    <a class="nav-link " href="/home">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active">Lịch sử</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link "></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"></a>
                </li>
            </ul>
        </div>
        <!-- manual search -->
        <div id="manual-search" class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
            <form class="form-inline">
                <label for="search-box">Tìm thủ công</label>
                <input id="search-box" class="form-control mr-sm-2" type="search" placeholder="Nhập số xe">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
    </header>
    <!-- #endregion -->


    <!-- #region main layout-->
    <!---->
    <!---->
    <div id="main-layout" class="container-fluid">
        <div class="row" style="height: 100%">
            <!---->
            <!--Normal detected Vehicle-->
            <!---->
            <div id="normal-detected-list" class="group col-xl-4">
                <div class="group-layout">
                    <h1 class="title" style="color: green;">Danh sách phương tiện</h1>

                    <div class="table-result-area" id="normal-vehicle-area">
                        <div class="table-header">
                            <table>
                                <tr class="head">
                                    <th class="table-col">Thời gian</th>
                                    <th class="table-col">Biển số</th>
                                    <th class="table-col">Trạng thái</th>
                                </tr>
                            </table>
                        </div>
                        <div class="table-body">
                            <table>
                                <tr class="table-row">
                                    <td class="table-col">
                                        <p>12:34</p>
                                        <p>15/05/1999</p>
                                    </td>
                                    <td class="table-col">62P148495</td>
                                    <td class="table-col">
                                        <span><strong>Bình thường</strong></span>
                                    </td>
                                </tr>
                                <tr class="table-row alert-danger">
                                    <td class="table-col">
                                        <p>12:34</p>
                                        <p>15/05/1999</p>
                                    </td>
                                    <td class="table-col">62P148495</td>
                                    <td class="table-col">
                                        <span><strong>Bình thường</strong></span>
                                    </td>
                                </tr>
                                <tr class="table-row">
                                    <td class="table-col">
                                        <p>12:34</p>
                                        <p>15/05/1999</p>
                                    </td>
                                    <td class="table-col">62P148495</td>
                                    <td class="table-col">
                                        <span><strong>Bình thường</strong></span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!---->
            <!--display information of detection-->
            <!---->
            <div id="detail-info" class="group col-xl-8" style="padding-left: 0 !important;">
                <div class="group-layout row" style="margin: 0;">
                    <div id="img-and-traffic-sanction" class="col-xl-6">
                        <!--display image and information detected-->
                        <div id="img-area" class="col-12">
                            <img src="/Resources/images/test.jpg" height="100%" width="100%">
                        </div>
                        <div id="detect-infor" class="col-12">
                            <div class="row infor-block">
                                <div class="col-6">
                                    <p>Biển số: <span id="plate-number" class="bold">62P148495</span></p>
                                </div>
                                <div class="col-6">
                                    <p>Thời gian: <span id="detect-time" class="bold">23/05/2021</span></p>
                                </div>
                                <div class="col-12">
                                    <p>Vị trí: <span id="detect-position" class="bold">Xa lộ hà nội</span></p>
                                </div>
                            </div>
                        </div>
                        <!--traffic sanction information-->
                        <div id="traffic-sanction-area" class="col-12" style="padding: 10px 0;">
                            <h5 style="color: tomato;">Thông tin phạt nguội</h5>
                            <div id="traffic-sanction" class="col-12 ">
                                <div class="row infor-block">
                                    <div class="col-6 status-box">
                                        <p id="sanction-status" style="margin: 0;"><strong>Có</strong></p>
                                    </div>
                                    <div class="col-6">
                                        <button id="sanction-detail" class="button-detail btn btn-info">Chi
                                            tiết</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--traffic was stolen or not-->
                        <div id="stolen-area" class="col-12" style="padding: 3px 0 10px 0;">
                            <h5 style="color: tomato;">Phương tiện thuộc danh sách bị trộm cướp</h5>
                            <div class="col-12">
                                <div id="stolen" class="row infor-block ">
                                    <div class="col-6 status-box">
                                        <p id="stolen-status" style="margin: 0;"><strong>Có</strong></p>
                                    </div>
                                    <div class="col-6">
                                        <button id="stolen-detail" class="button-detail btn btn-info">Chi tiết</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Registry information-->
                    <div id="registry-infor-area" class="col-xl-6">
                        <h5 style="color: tomato;">Thông tin đăng kiểm</h5>
                        <div id="information-area">
                            <!--General information-->
                            <div id="general-infor" class="row infor-block">
                                <div class="col-6" id="brand-type">
                                    <p>Nhãn hiệu: <span id="brand" class="bold">Honda</span></p>
                                    <p>Loại phương tiện: <span id="vehicle-type" class="bold">Xe máy</span></p>
                                </div>
                                <div class="col-6" id="chasis-engine-no">
                                    <p>Số khung: <span id="chasis-no" class="bold">123456789</span></p>
                                    <p>Số máy: <span id="engine-no" class="bold">987654321</span></p>
                                </div>
                                <div class="col-12" id="owner-area">
                                    <p>Chủ sở hữu: <span id="owner" class="bold">Nguyễn Đang Trường</span></p>
                                    <p>Địa chỉ chủ sở hữu: <span id="owner-address" class="bold">111/50 đường số 16,
                                            phường Hiệp Bình Chánh, Thành phố Thủ Đức, Thành phố Hồ Chí Minh</span></p>
                                </div>
                            </div>
                            <!--Specification information-->
                            <div id="specification-infor" class="row infor-block">
                                <div class="col-6" id="color-capacity">
                                    <p>Màu sơn: <span id="color" class="bold">Đen đỏ</span></p>
                                </div>
                                <div class="col-6" id="capacity-area">
                                    <p>Dung tích: <span id="capacity" class="bold">150</span></p>
                                </div>
                                <div class="col-12">
                                    <p>Số lượng chổ ngồi: <span id="seat-capacity" class="bold">2</span></p>
                                </div>
                                <div class="col-12" id="size-area">
                                    <p>
                                        Kích thước: Dài: <span id="length" class="bold">1,23</span> &ensp;
                                        Rộng: <span id="width" class="bold">4,56</span> &ensp;
                                        Cao: <span id="length" class="bold">7,89</span> (m)
                                    </p>
                                </div>
                                <div class="col-12">
                                    <p>Đăng kí lần đầu ngày: <span id="first-registry-date"
                                            class="bold">15/05/1999</span></p>
                                </div>
                                <div class="col-12">
                                    <p class="bold">Lần đăng kiểm gần nhất </p>
                                    <div id="recent-registry" class="row" style="padding-left: 20px;">
                                        <div class="col-6">
                                            <p>Ngày kiểm định: <span id="recent-registry-date"
                                                    class="bold">07/07/1999</span></p>
                                        </div>
                                        <div class="col-6">
                                            <p>Hạn hiệu lực: <span id="registry-due-date" class="bold">07/07/2020</span>
                                            </p>
                                        </div>
                                        <div class="col-6">
                                            <p>Đơn vị kiểm định: <span id="registry-department"
                                                    class="bold">2093S</span></p>
                                        </div>
                                        <div class="col-6">
                                            <p>Số tem: <span id="stamp-number" class="bold">123456789</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Button report wrong detection and button confirm-->

                            <div id="confirm-area" class="row infor-block">
                                <button type="button" class="btn btn-danger" style="margin-right: 15px">Báo cáo thông tin sai</button>
                                <button type="button" class="btn btn-success" style="margin-left: 15px;">Xác
                                    nhận</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <!-- #endregion -->
</body>

</html>


<!-- #region import libs-->
<!---->
<!---->

<!--import jquery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- import bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!--jquery confirm-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

<!--import font awesome-->
<script src="https://kit.fontawesome.com/a0df4ac8c5.js"></script>

<!--custom javascript-->
<script src="JS/home.js"></script>

<!-- #endregion -->