#div-license-plate{
    width: 440px;
    height: 248px;
}

#img-license-plate{
    width: 100%;
    height: 100%;
}

#list{
    overflow: auto;
    height: 728px;
}

.table-list th,td{
    font-size: 10px;
    text-align: center;
}
.search_bar{
    margin: 10px;
}

.border-between > [class*='col-']:before {
    background: #e3e3e3;
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    width: 1px;
    top: 0;
 }
 
 .border-between > [class*='col-']:first-child:before {
    display: none;
 }