@charset "utf-8";

html,
body {
  height: 100%;
}
/*#region Navigation bar */

.bd-navbar {
  background-color: #563d7c;
  font-size: 18px;
}

.nav-item:hover {
  cursor: pointer;
}

/* Search form*/
#manual-search label {
  margin-right: 15px;
  color: antiquewhite;
}

#manual-search input {
  width: 250px;
}

#manual-search button {
  background-color: white;
}

#manual-search button:hover {
  background-color: #28a745;
  color: white;
}

/*#endregion */

/*#region main layout*/
#main-layout {
  background-color: #e4e4e4;
}

.group {
  padding: 10px !important;
  height: 100%;
}

.group-layout {
  height: 100%;
  background-color: white;
  border-radius: 5px;
}

/* layout of column */
.title {
  text-align: center;
  font-size: 23px;
  color: rgb(173, 11, 87);
  margin-bottom: 20px;
}

.list-detected-vehicle {
    overflow-y: auto;

}
.list-detected-vehicle table {
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
}

.list-detected-vehicle table tr{
    border-bottom: 1px solid #e4e4e4;
}


.list-detected-vehicle p {
    margin: 5px;
}
/*#endregion */
