@charset "utf-8";
html, body {
  height: 100%;
}

/*#region Navigation bar */

.bd-navbar {
  background-color: #563d7c;
  font-size: 18px;
}

.nav-item:hover {
  cursor: pointer;
}

/* Search form*/

#manual-search label {
  margin-right: 15px;
  color: antiquewhite;
}

#manual-search input {
  width: 250px;
}

#manual-search button {
  background-color: white;
}

#manual-search button:hover {
  background-color: #28a745;
  color: white;
}

/*#endregion */

/*#region main layout*/

#main-layout {
  background-color: #e4e4e4;
}

.group {
  padding: 10px !important;
  height: 100%;
}

.group-layout {
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 5px;
}

/* Detect List */

.title {
  text-align: center;
  font-size: 23px;
  color: rgb(173, 11, 87);
  margin-bottom: 20px;
  padding-top: 5px;
}

.table-result-area table {
  width: 100%;
  padding: 10px;
  text-align: center;
}

.table-body {
  overflow-y: auto;
}

.table-result-area table tr {
  border-bottom: 1px solid #e4e4e4;
  margin: 5px 0;
}

.table-result-area table tr:hover {
  cursor: pointer;
  background-color: #f1f0f0;
}

.table-result-area p {
  margin: 5px;
}

.small-image:hover {
  cursor: pointer;
}

/* Detail information*/

#detail-info .group-layout {
  height: 100%;
}

/*image */

#img-and-traffic-sanction {
  padding-top: 10px;
  padding-left: 10px;
}

#img-area {
  width: 100%;
  padding: 0;
  box-shadow: 0px 4px 5px rgb(124, 124, 124);
  min-height: 275px;
}

#img-area img {
  transition: all 0.3s ease-in-out;
  z-index: 1000;
  position: relative;
  box-shadow: 0px 4px 5px rgb(124, 124, 124);
}

/*detect infor*/

#detect-infor {
  margin-top: 30px;
}

/* Stolen and sanction area */

.disable {
  opacity: 30%;
}

.button-detail {
  float: right;
}

.status-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Table of violation*/
#violation-table-header th {
  text-align: center;
  padding: 0;
  top: -5px;
}

#violation-table-body tr {
  height: 85px;
  padding: 10px 0;
  border: solid 1px rgb(129, 129, 129);
}

#violation-table-body tr:hover {
  background-color: rgb(223, 223, 223);
}

#violation-table-body td {
  text-align: center;
  padding: 0;
}

#stolen-layout div {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

/*Registry information*/

#registry-infor-area {
  padding-top: 10px;
}

.bold {
  font-weight: bold;
}

#information-area {
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
}

.infor-block {
  box-shadow: 0 0 5px rgb(175, 175, 175);
  margin-bottom: 10px;
  padding: 10px 0;
}

#general-infor {
  min-height: 205px;
}

#recent-registry-area {
  min-height: 147px;
}
/* confirm-area */

#confirm-area {
  margin-top: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}



/*#endregion */

/*loader*/
.lds-roller {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  top: -7px;
  right: -7px;
  transform: scale(0.5);
  box-shadow: 0 0 5px rgb(218, 218, 218);
  border-radius: 3px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgb(8, 147, 172);
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}