@charset "utf-8";

html, body{
    height: 100%;
}

/*background*/
#background{
    background: linear-gradient(-135deg, #563d7c, #8a60c9);
    height: 100%;
}
/*Vùng hiển thị các thông báo*/
.alert_box{
    width: 250px;
    float: right;
    height: fit-content;
    padding: 5px;
}
.alert{
    z-index: 10000;
    margin-bottom: 10px !important;
    box-shadow: 0 0 5px cadetblue;
}

#login{
    height: 100%;
    padding: 50px 100px;
}
#login_layout{
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    min-height: 400px;
}

#image{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

#image{
    transition: opacity 1s ease;
}

.login_form{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.form_title{
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
    color: #128597;
    text-transform: uppercase;
}

.input{
    margin-bottom: 15px;
    width: 100%;
}

.input i{
    font-size: 30px;
    color: #128597;
    position: absolute;
    transition: margin-left 0.5s ease-in;
}
.input input{
    height: 40px;
    width: 75%;
    text-indent: 40px;
    border: none;
    box-shadow: 0 0 5px #128597;
    padding-top: 5px;
    transition: all 0.5s ease-in;
    background-color: transparent;
}

.input :focus{
    transform: scale(1.1);
    outline: none;
    box-shadow: 0 0 10px rgb(100, 171, 238);
}

.btn{
    font-size: 16px;
    background-color: #128597;
    color: white;
    height: 35px;
    border: none;
    line-height: 25px;
}